<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meproduction.grosirin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Grosirin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tokoActivity" android:label="Toko"></activity>
        <activity
            android:name=".KategoriActivity"
            android:label="Kategori" />
        <activity android:name=".menuutama_activity" android:label="Menu Utama"/>
        <activity
            android:name=".splashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activity" />
        <activity android:name=".daftar_activity" />
        <activity android:name=".profile_activity" />
        <activity
            android:name=".activity_histori"
            android:label="Histori Transaksi" />
        <activity
            android:name=".InvoiceActivity"
            android:label="@string/struk_belanja" />
        <activity
            android:name=".KeranjangActivity"
            android:label="Keranjang Belanja" />
        <activity
            android:name=".MetodePembayaranActivity"
            android:label="Metode Pembayaran" />
        <activity
            android:name=".ListBankActivity"
            android:label="@string/list_bank" />
        <activity
            android:name=".PilihItemActivity"
            android:label="Pilih Item" />
    </application>

</manifest>